<div class="container">
    <form>
      <div class="mb-2 col-5">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="cheaf_firstname" [ngModelOptions]="{standalone:true}">
       
      </div>
      <div class="mb-2 col-5">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="cheaf_lastname" [ngModelOptions]="{standalone:true}">
      </div>
      <div class="mb-2 col-5">
        <label class="form-label">Email </label>
        <input type="email" class="form-control" [(ngModel)]="cheaf_email" [ngModelOptions]="{standalone:true}">
       
      </div>
      <div class="mb-3 col-5">
        <label class="form-label">Address</label>
        <input type="text" class="form-control"[(ngModel)]="cheaf_address" [ngModelOptions]="{standalone:true}">
      </div>
      <div class="mb-3 col-5">
        Gender :
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" value="MALE" [(ngModel)]="cheaf_gender" [ngModelOptions]="{standalone:true}">
          <label class="form-check-label" for="flexRadioDefault1">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" value="FEMALE" [(ngModel)]="cheaf_gender" [ngModelOptions]="{standalone:true}">
          <label class="form-check-label" for="flexRadioDefault2">
           Female
          </label>
        </div>
      </div>
      <div class="mb-3 col-5">
        <label class="form-label">Education</label>
        <input type="text" class="form-control" [(ngModel)]="cheaf_education" [ngModelOptions]="{standalone:true}">
      </div>
      
      

      <button type="submit" class="btn btn-primary"  (click)="save()">ADD</button>
    </form>
</div>
